{% load static %}
{% load i18n %}
<!-- Helpers -->
<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<script src="{% static 'vendor/js/helpers.js' %}"></script>

<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="{% static 'js/config.js' %}"></script>
<!-- beautify ignore:start -->



<!-- beautify ignore:end -->

<!-- This file is typically included in the <head> section of your HTML templates to ensure that the helpers and theme configuration files 
are loaded before other scripts. This setup ensures that the theme and customization options are applied correctly across the site. -->
