<!-- Includes core JavaScript libraries and application-specific scripts.
 -->

{% load static %}

<!--  This file is included in your base template or other templates where JavaScript is needed. 
It ensures that all necessary JavaScript libraries and custom scripts are loaded for the application’s 
functionality, providing interactive features and dynamic behavior. -->
<!--Core Javascript-->
<script src="{% static 'vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'vendor/js/menu.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
